<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page for Electronix</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <script src="https://kit.fontawesome.com/655443928f.js" crossorigin="anonymous"></script>
    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static', filename= 'style_login.css')}}">
</head>
<body>
    <div class="main">
         <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{url_for('static', filename='signin-image.jpg')}}"  alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">Create an account</a> -->
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">User Login</h2>
                        <form action = "#" class="register-form" method="post" id = "form_reg">
                            <div class="form-group">
                                <label for="your_name"><i class="fas fa-user fa-lg ico"></i></label>
                                <input style = "font-size: x-large;"type="text" name="username"  id="your_name" placeholder="Your Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="fas fa-key fa-lg ico"></i></label>
                                <input style = "font-size: x-large;" type="password" name="password" id="your_pass" placeholder="Password" required/>
                                <!-- <i class="fas fa-arrow-right ico"></i> -->
                            </div>
                            <div class="form-group form-button">
                                <input style = "font-size: x-large;" type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>