#log{
    margin-left: 50vw;
    display: flex;
    justify-content: space-between;
    transition: transform .2s;
 }
 
 #link{
     text-decoration: none;
     color: white;
 }
 
 #log:hover{
     transform: scale(1);
 }
 
 li:hover{
     transform: scale(1.2);
 }
 
 #item{
  border: none;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  z-index: 2;
  transition: transform .2s;
  border-radius: 40px 5px;
 }
 
 #item:hover{
     background-color: rgba(0,0,0, 0.8);
 }
 
 #photo{
     border:2px solid #fff;
     -moz-box-shadow: 3px 3px 5px #ccc;
     -webkit-box-shadow: 3px 3px 5px #ccc;
     box-shadow: 3px 3px 5px #ccc;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;
     z-index: 10;
     transition: transform .2s;
 }
 
 #photo:hover {
     transform: scale(1.2);
 }
 /* .navbar-nav > li{
     margin-left:30px;
     margin-right:30px;
   } */
body{
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(/static/bg.jpg);
}
i{
    color: black;
    
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(4 4 4);
    font-weight: 800;
}

element.style {
    display: flex;
    justify-content: space-around;
    color: white;
    font: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 99%);
}